@using BOL;

@{
    ViewData["Title"] = "Employee insert Page";
}
<h1>Inserting Employee</h1>
<form action="/Employee/Insert" method ="post">
eid<input type="text" name="sid" id="sid"> <br>
ename <input type="text" name="name" id="sname"> <br>
city <input type="text"name="module" id="module"> <br>
sallary <input type="text" name="faculty" id="faculty"> <br>
<button type="submit">submit</button>
</form>